[user]
[push]
	default = simple
	followTags = true
[alias]

[core]
	editor = emacsclient
	excludesfile = ~/.gitignore_global

[merge]
    tool = emacs
[mergetool]
  prompt = false
[diff]
  tool = emacs
[difftool]
  prompt = false
[user]
	name = Craig Lyons
	email = craiglyons.dev@gmail.com
