"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d5e08f02-be27-4794-b0db-f71de0b1b68d"
    js: {}
    ruby:
      indent_size: 2
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "emacs-plus"
      "transient-emacs"
      "Scratchpad"
      "jumpy"
      "smalls"
      "quick-jump"
    ]
    packagesWithKeymapsDisabled: [
      "bracket-matcher"
      "git-blame"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "courier new"
    fontSize: 13
  "exception-reporting":
    userId: "e3dbd07e-48d3-3606-ee9d-845288e17b15"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  fonts:
    fontFamily: "Cousine"
  "git-diff-details":
    showWordDiffs: false
  "git-plus":
    openInPane: false
    splitPane: "Right"
  "incremental-search":
    instantSearch: true
    keepOptionsAfterSearch: false
    landAtPointInsteadOfRange: true
  linter:
    lintOnFlyInterval: 1000
  "linter-eslint":
    useGlobalEslint: true
  welcome:
    showOnStartup: false
