"*":
  core:
    disabledPackages: [
      "emacs-plus"
      "transient-emacs"
      "Scratchpad"
      "jumpy"
      "smalls"
      "quick-jump"
    ]
    packagesWithKeymapsDisabled: []
  editor:
    fontFamily: "courier new"
    fontSize: 12
  "exception-reporting":
    userId: "e3dbd07e-48d3-3606-ee9d-845288e17b15"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "incremental-search":
    instantSearch: true
    keepOptionsAfterSearch: false
  welcome:
    showOnStartup: false
